body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}
#main-content ul {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	display: inline-block;
}
#main-content li {
	list-style: none;
}
#products {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
#image img {
	height: auto;
	width: 50%;
	
}
#div img {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
#productList {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-items: flex-end;
}
#name {
	background-color: lightgray;
}
#manufacturer {
	background-color: lightgray;
}
#price {
	color: red;
}
#weight {
	background-color: lightgray;
}
#stars img {
	height: auto;
	width: 50%;
}
#listPrice {
	color: red;
}
#listStars img {
	height: 25px;
	width: 150px;
}
#list {
	width: 120px;
	text-align: left;
}
#productDetail {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   	grid-template-areas: 
    "picture product product"
}
#starsDetail img {
	height: 30px;
	width: auto;
}
#listDetail {
	list-style-type: none;
	text-align: left;
	grid-area: product;
}
#priceDetail {
	color: red;
}