body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	
}

#list {
	border-bottom: 1px solid grey;
}

ul {
		list-style: none;
		padding-right: 40%;
	text-align: left;
}

.product-rating img{
		width:30%;
		height:30%;
}

.product-rating em{
	font-size: .75rem;
}


#product-image, #list{
	display: flex;
	flex-direction: row-reverse;
		text-decoration: none;
		justify-content: flex-start;
		
}

#price {
	color:red;
}

#product-image{
	justify-content: left;
	width: 25%;
	height: 25%;
}

#best-seller {
	color:red;
}

#product-image-tile {
	width: 45%;
	height: 45%;
}

#side-by-side{
	text-align: center;
}

a {
	text-decoration: none;
	color: none;
}

#product-image-detail, #detail{
	display:flex;
	wrap: no-wrap;
	flex-direction: row-reverse;
	justify-content: flex-start;
	padding-left: 4%;
}

#product-image-detail {
	height:50%;
	width:50%;
}


}