:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
html{
  height: 100%;
  font-size: 18px;
}

  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  img{
    display: inline-block;
    width: 80%;
    height: auto;
    position: relative;
  }
  main{
    display: inline-block;
   vertical-align: top;
   position: absolute;
   margin-left: 220px;
  }


  aside{
    
   text-align: center;
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 1250px;
    vertical-align: top; 
    border-right-style: solid;
    border-right-color: var(--light-blue);
    border-right-width: 2px;
    
  }
  

  header{
    margin-top: 30px;
    padding-bottom: 30px;
  }

header img{
    width : auto;
    height: 100px;
  }

  header p{
    font-size: 0;
  }

  ul{
    list-style-type: none;
    text-transform: uppercase;

    padding: 0;
  }

  li{
    text-decoration: none;
    margin-top: 70px;
   
  }

  a{
    text-decoration: none;
    color: var(--blue);
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: var(--light-blue);
    border-bottom-width: 2px; 
    padding-bottom: 30px; 
    padding-left: 20px;
    padding-right: 20px;

  }


  aside img{
   
   width: 100px;
   height: 100px;
   
  }

  h2{
    color: var(--green)
  }


  
  #what-we-do{
    margin-top: 30px;
    display: inline-block;
    width: 25%;
    padding-right: 20px;
    border-right-style: solid;
    border-right-color: var(--light-green);
    border-right-width: 2px; 
  }

  #our-work{
    margin-top: 30px;
    display: inline-block;
    width: 25%;
    padding-right: 20px;
    padding-left: 20px;
    border-right-style: solid;
    border-right-color: var(--light-green);
    border-right-width: 2px; 

  }

  #contact-us{
    margin-top: 30px;
    display: inline-block;
    width: 25%;
    padding-left: 20px;
    
  }


  #social h3{
    display: block;
    font-size: 0;
  }

  #social p{
    display: inline-block;
    font-size: 0;
  }

  #logos img{
    display: inline-block;
    width: 0px;
    margin-right: 100px;
    height: auto;
  }

  footer{
    padding-bottom: 20px;
  }
