body { 
	padding-top: 70px; 
	border: 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	font-color: black;
	background-color: #f9f9ff;
}

h1 {
	background-color: #710000;
	color: #f8ffe1;
}

.navbar {
	background-color: #710000;
	color: black;
}

 {
	font-color: black;
}
 footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 20px;
 }