:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    max-height: 100vh;
  }

  body {
    white-space: nowrap;
    background-color: rgba(192, 192, 192, 0.1);
  }

  aside {
    position: fixed;
    display: inline-block;
    width: 200px;
    height: 100vh;
    text-align: center;
    padding: 5px;
    vertical-align: top;
    border-right: 1px solid #00ADEE;
  }

  aside nav ul{
    padding: 0;
    align-content: center;
  }

  main {
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 100%;
    margin-left: 220px;
    overflow: scroll;
  }

  header {
    height: 120px;
  }

  #elevate-logo {
    width: 140px;
  }

  aside li {
    list-style: none;
    width: 140px;
    margin: 10px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #00ADEE;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #00ADEE;
  }

  section div {
    display: inline-block;
    width: 400px;
    white-space: normal;
    margin: 10px auto;
    padding: 15px;
    border-right: 1px solid rgba(170,239, 135, 0.8);
  }

  section div:last-child {
    border-right: none;
  }

  .sub-heading {
    color: rgba(0,0,0,0.6);
  }

  section h2 {
    color: #8CC36F;
  }

  header {
    height: 150px;
  }

  header img {
    height: 100px;
  }

  #placeholder-img {
    height: 400px;
  }

  main footer {
    height: 150px;
    margin-bottom: 10px;
  }

  #social, footer p {
    display: inline-block;
  }
  
  #facebook, #twitter {
    height: 30px;
  }
  
  