
img#logo {
    display: inline-block;
    width: 40%; 
}

a:hover{
	text-decoration: underline;
}


.parkDetail {
	display: block;
	padding: 15px;
	justify-content: space-around;
	background: lightgrey;	
}
a {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    justify-content: right;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: beige;
    text-decoration: none;
}







