
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oswald');



body {
	background-color: white;
	font-family: 'Noto Sans', sans-serif;
	color:black;
}

/* Login button CSS  */
.loginButton{
	color: black;
	border: 1px black solid;
	padding-left:15px;
	padding-right:15px;
	background-color:#1FC909;
	border-radius:5%;
	width: 8vw;
	margin-left: 60%;
	margin-top:0%;
}



/* ParkList homePage CSS  */
/* .parkList{
	color: black;
	border: 1px black solid; 
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
	"parkName parkListElements parkImages";
	grid-gap:10px;
	}
	
.parkList h1{
	grid-area:parkName;
}
	
.parkList p{
	padding-top: 0px;
}

.parkListElements{
	padding-left: 5%;
	padding-right:7%;
	grid-area:parkListElements;
}

.parkImages{
	grid-area:parkImages;
	margin-top: 10px;
} */



/* Nav bar link information CSS */
nav {
	padding-bottom: 2em;
}



a:link{
	color: black;
	text-decoration: none;
}

nav a{
	color: black;
	border: 1px black solid;
	padding-left:15px;
	padding-right:15px;
	background-color:#1FC909;
	border-radius:5%;
	width: 8vw;
}

nav ul{
text-align:left;
padding-left:0px;
margin-left:0px;
}
header {
	margin: 25px;
}

header h1 {
	font-size: 21pt;
	color: black;
}


header p {
	color: black;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}

nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

nav h2 {
	color: black;
}

nav p {
	color: black;
	/*font-size: 12pt;*/
	font-style: italic;
	
}



li {
	padding-bottom: 4px;
}

li a {
	color: black;
	text-decoration: none;
	/*font-size: 20pt;*/
	list-style: none;

	
}

nav ul {
	width: 100%;

}

nav ul li {
	float: left;
	margin-right: 10px;
	background-color: white;
	border-radius: 8px;
	list-style: none;


	padding-top: 5px;
	
}

nav:after {
	clear: both;
}



section h1 {
	color: black;
	font-size: 21pt;
	/* padding-left: 120px; */
}

section h2 {
	color: black;
	font-size: 18pt;
}

section p {
	color: black;
	/*font-size: 14pt;*/
	width: 80%;
	margin: 25px;
	text-align: left;
}

section img {
	width: 250px;
	height: 250px;
	border-color: black;
	border-width: 8px;
	border-style: solid;
}


/* <!-- FOOTER -->  */
.copyright {
	color: black;
	text-align: center;
}

section {
	background-color: white;
	min-height: 300px;
}


 
 ul li {
 	color: black;
 }
 
 /**************************************  PARK DETAILS PAGE **********************************************************************************/
 
 
 #parkDetailImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 5px 10px 8px 10px #888888;
}
 
  #parkDetailQuote{
	display: block;
 	text-align: center;
 }
 
 #parkDetailList{
 list-style-type: none;
 	margin-left: auto;
 }
 
 #parkNameDetail{
   display: block;
  text-align: center;

 }


 #parkDetailDescription{
	 display: block;
  text-align: center;
     font-size: 16px;
 }
 

/**************************************  WEATHER (moved to RESPONSIVE) **********************************************************************************/
 /* #tempSelect {
 	margin-left: 2%;
 }
 
 
.weatherRow {
	display: flex;
	flex-wrap: none;
	flex-direction: row;
	width: 100%;
	border-left: black 1px solid;
	justify-content: left;
	margin-left: 2%;


}
	
.weatherPanel {
	width: 19%;
	text-align: left;
	border-right: black 1px solid;
	border-top:  black 1px solid;
	border-bottom: black 1px solid;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
}	


.weatherText {
	margin-left: 2%;
}

.weatherPanel h5 {
	margin-bottom: 3%;
}

.weatherImage {
	width: 100%;

}
  */
 
/*  #weatherContainer{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    color:black;
    border: black 1px solid;
    margin-bottom: 0px;
 }
 
 #weatherContainer ul {
 	list-style:none;
 	text-align:left;
 }
 
 #weatherContainer ul .weatherMessage {
 	font-size: 12px;
 	padding-right: 2px;
 	
 }
 
 .weatherImage{
 border-radius:50%;
	width:80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
 }
 
 .weatherTextContainer {
 width: 18%;
 border-right: 1px black solid;
 } */
 
  /**************************************  Login  **********************************************************************************/
  
  
  #login-content input[type=text],input[type=password] {
  width: 40%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
} 	  
  	  
  	  
  	  
 #login-content input[type=submit] {
  margin-top: 10px;	
  width: 25%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
  	  
  	  
 /**************************************  Survey  **********************************************************************************/

 
 #survey-container input[type=text] {
  width: 40%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
}

 #survey-container select, label {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

#survey-container input[type=submit] {
  margin-top: 10px;	
  width: 25%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #1FC909;
}
 
 
 /**************************************  Survey Results **********************************************************************************/
 
 
 #resultsSurveyGraph{
 display:flex;
 flex-wrap:wrap;
 width:100%; 
 }
 
 .progressName{
    color:black;
 	width: 40%;
 	padding:0px;
  	margin:0px;
 
 }
 
 .progressBar{
	width:50%;
	padding-top:5px;
 	font-size: 25pt;
	padding: 0px, 0px, 0px, 0px;
  	margin: 0px, 0px, 0px, 0px; 
   
  

 }
 
 progress::-webkit-progress-value{background: #1FC909;
 								 margin-top: 0px;
 								 padding-top: 0px;
 }

 
 
 div progress{
 border:1px white solid;
 
 }

.progressContainer{
	border: 1px black solid;
}

.surveyResultHeader{
	color:black;
	font-size: 25px;
	text-align:center;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

label{
	color:black;	
}

.progressContainer img {
	width: 35%;
}


  /****************************************************** ParkList responsive *************************************************/
@media only screen and (min-width: 200px){

.parkList{
	color: black;
	margin-top: 10px;
	border-top: 2px solid black;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"parkName"
	"parkListElements" 
	"parkImages";
	grid-gap:10px;
	}
	
.parkList h1{
	grid-area:parkName;
}
	
.parkList p{
	padding-top: 0px;
}

.parkListElements{
	padding-left: 1%;
	padding-right:7%;
	grid-area:parkListElements;
}

.parkImages{
	grid-area:parkImages;
	margin-top: auto;
	margin-bottom: 0px;
	width: 95%;
	display: block;
	margin-right:auto;
	margin-left: auto;
	}

#tempSelect {
 	margin-left: 2%;
 }
 
 

.weatherPanel {
	margin-left: 25%:
	
	width: 50%;
	text-align: center;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
}	


.weatherText {
	margin-left: 2%;
}

.weatherPanel h5 {
	margin-top: 0px;
	margin-bottom: 1%;
}

.weatherImage {
	width: 30%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
 	
	
	

}



@media only screen and (min-width: 800px){

.parkList{
	color: black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"parkName  parkListElements"
	"parkImages parkListElements";

	grid-gap:10px;
	}
	
.parkList h1{
	grid-area:parkName;
	padding-left: 7%;
}
	
.parkList p{
	padding-top: 0px;
}

.parkListElements{
	margin-top: 25%;
	padding-top: 0px;
	padding-left: 5%;
	padding-right:7%;
	grid-area:parkListElements;
}

.parkImages{
	padding-top: 5%;
	margin-bottom: 10%
	grid-area:parkImages;
	width: 100%;
}

#tempSelect {
 	margin-left: 2%;
 }
 
 
.weatherRow {
	display: flex;
	flex-wrap: none;
	flex-direction: row;
	width: 100%;
	border-left: black 1px solid;
	justify-content: left;
	margin-left: 2%;


}
	
.weatherPanel {
	width: 19%;
	text-align: left;
	border-right: black 1px solid;
	border-top:  black 1px solid;
	border-bottom: black 1px solid;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
}	


.weatherText {
	margin-left: 2%;
}

.weatherPanel h5 {
	margin-bottom: 3%;
}

.weatherImage {
	width: 100%;

}
 
}

@media only screen and (min-width: 1150px){

.parkList{
	color: black;
	border: 1px black solid; 
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-areas:
	"parkName parkListElements parkImages";
	grid-gap:10px;
	}
	
.parkList h1{
	grid-area:parkName;
}
	
.parkList p{
	padding-top: 0px;
}

.parkListElements{
	margin-top: 0px;
	padding-left: 5%;
	padding-right:7%;
	grid-area:parkListElements;
}

.parkImages{
	grid-area:parkImages;
	margin-top: auto;
	margin-bottom: 0px;
	width: 100%:
}

#tempSelect {
 	margin-left: 2%;
 }
 
 
.weatherRow {
	display: flex;
	flex-wrap: none;
	flex-direction: row;
	width: 100%;
	border-left: black 1px solid;
	justify-content: left;
	margin-left: 2%;


}
	
.weatherPanel {
	width: 19%;
	text-align: left;
	border-right: black 1px solid;
	border-top:  black 1px solid;
	border-bottom: black 1px solid;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
}	


.weatherText {
	margin-left: 2%;
}

.weatherPanel h5 {
	margin-bottom: 3%;
}

.weatherImage {
	width: 100%;

}
 

}




 