:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
    background: rgb(192,192,192,1.0);
}

#te-logo{
    width: 25%;
}


html {
    font-size: 16px;
    margin-left: 8%;
    margin-right: 8%;
}

h1{
    color: var(--grey);
    font-size: 50px;
    margin-top: 10px;
}

h3{
    color: var(--blue);
}

#student-grid{
    display: grid;
    grid-template-columns: 
    1fr 1fr 1fr;
    grid-template-areas:
    
    "name name ."
    "quote quote pic"
    "profile profile contact"
    "exp exp exp";

    grid-column-gap: 50px;
    grid-row-gap: 20px;
    
}

#experience > div{
    width: 30%;
    margin-right: 10px};

#te-logo{
   
   
}


#student-quote{
    grid-area: quote;
    line-height: 250%;
    color: var(--grey);
}

#student-picture img{
    grid-area: pic;
    border-radius: 50%;
}

#student-picture {
    grid-area: pic;

}

#student-profile{
    grid-area: profile;
}

#student-contact{
    grid-area: contact;
    text-align: center;
}


#experience{
    display: flex;
    grid-area: exp;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer{
    
    grid-area: footer;
}






