aside {
  width: 200px;
  display: inline-block;
  position: fixed;
  align-content: center;
  margin-right: 10%;
  height: 100%;
  border-right-style: solid;
  border-right-color: var(--blue);
  border-width: 1px;
  

  
}

img {
  display: inline-block;
  position: relative;
  margin-left: 250px;
  width: 80%;
  height: auto;
}

aside img {
  width: 175px;
  margin-left: 10%;
  margin-right: 100px;
}

header {
  height: 150px;
  width: auto;
  display: inline-block;
  position: relative;
  padding-top: 2%;
}

header img {
  height: 150px;
  width: auto;
}

p.subheading {
  margin-left: 250px;
}

nav {
  font-size: 18px;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-right: 10%;
  margin-left: -5%;
  
}

li {
  list-style: none;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-color: var(--blue);
  border-bottom-width: 1px;
  margin-bottom: 2px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

section > div {
  margin-top: 2%;
  border-right-style: solid;
  border-right-color: var(--green);
  border-right-width: 2px;
}
#what-we-do {
  display: inline-block;
  width: 25%;
  position: relative;
  margin-left: 250px;
  padding: 10px 10px 10px 10px;

}

#our-work {
  display: inline-block;
  width: 25%;
  padding: 10px 10px 10px 10px;
  border-left-color: var(--blue);  

}

#contact-us {
  display:inline-block;
  width: 25%;
  padding: 10px 10px 10px 10px;
  border-left-color: var(--blue);  

}

h2{
  color: var(--green);
}

footer {
  display: inline-block;
  position: relative;
  margin-left: 250px;

}

#social img{
  display: inline-block;
  position: relative;
  width: 2%;
  height: auto;
  margin-left: 0px;

}



/* variables you can use in your CSS*/
:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: rgba(192 ,192 ,192, 0.1);
  }
  
  