header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px; 
}
main {
    width:600px;
    float:left;
    padding:10px; 
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

input {
    border: 1px solid black;
}

input.error {
    border: 2px solid red;
}

label.error {
    color: red;
    clear: both;
    display: block;
}

#interactive-content div {
    height: 200px;     
    text-align: center;
    padding-top: 3px;
    color: white;
}

#interactive-content > div:nth-of-type(1) {
    background-color: #00B800;   
}

#interactive-content > div:nth-of-type(2) {
    background-color: #B3B3CC;
}

#interactive-content > div:nth-of-type(3) {
    background-color: #6E93FF;
}

section h1 {
    background-color: #c7c7c7;
    font-size: 110%;
}

section textarea {
    width: 200px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;    
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
}

#movie-results {
    width: 100%;
}

#movie-results thead td{
    font-weight: bold;
}

#movie-results img {
    height: 150px;
}

.important-text {
    font-weight: bold;
}