body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#flex-section {
	clear: both;
	display: flex;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#listview-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "item1"
						 "item2"
						 "item3"
						 "item4"
						 "item5"
						 "item6";
	
}

#tileview-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "item1 item2"
						 "item3 item4"
						 "item5 item6";
}

#listview-item-1 {
	grid-area: item1;
}

#listview-item-2 {
	grid-area: item2;
}

#listview-item-3 {
	grid-area: item3;
}

#listview-item-4 {
	grid-area: item4;
}

#listview-item-5 {
	grid-area: item5;
}

#tableview-item-6 {
	grid-area: item6;
}

#tileview-item-1 {
	grid-area: item1;
}

#tileview-item-2 {
	grid-area: item2;
}

#tileview-item-3 {
	grid-area: item3;
}

#tileview-item-4 {
	grid-area: item4;
}

#tileview-item-5 {
	grid-area: item5;
}

#tileview-item-6 {
	grid-area: item6;
}

