:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

img {
  margin-left: 300px;
  display: inline-block;
  position: relative;
  width: 70%;
  height: auto;
}

p.subheading {
  margin-left: 300px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

aside {
  display: inline-block;
  height: 100%;
  width: 280px;
  vertical-align: top;
  align-content: center;
  position: fixed;
  margin-right: 10%;
  padding-right: 30px;
  white-space: nowrap;
  border-right-style: solid;
  border-right-color: var(--light-blue);
  border-right-width: 3px;
}

aside img {
  padding: 10px;
  width: 300px;
  margin-left: 10%;
  padding: 10px 70px 10px 10px;
}

header {
  display: inline-block;
  height: 150px;
  width: auto;
  position: relative;
}

header img {
  height: 150px;
  width: auto;
}

section > div {
  width: 200px;
  border-right-style: solid;
  border-right-color: var(--green);
  border-right-width: 2px;
}

section {
  margin-left: 300px;
}

#what-we-do {
  display: inline-block;
  width: 29%;
}

#our-work {
  display: inline-block;
  width: 29%;
}

#contact-us {
  display: inline-block;
  width: 29%;
}

div.id {
  display: inline;
}

a {
color: var(--blue);
 text-decoration: none;
}

li {
  list-style: none;
  padding: 10px;
}

nav {
  text-transform: uppercase;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  list-style-type: none;
  height: 75px;
  font-size: 20px;
  color: var(--blue);
}

h2 {
  color: var(--light-green);
}
div > img {
  height: 75px;
  width: 75px;
}

footer {
  margin-left: 300px;
}
#social img {
  display: inline-block;
  position: relative;
  margin-left: 50px;
}