@charset "UTF-8";

body{
	background-color:whitesmoke;
}
#top-section{
	  background-image: linear-gradient(teal, yellow);
	  padding: 25px;
}

input {
	width: 50%;
}

h1 {
	color: white;
	text-align: center;
}

h3 {
	color: white;
	text-align: center;
}

#book-image {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
 	width: 50%;
}

h4 {
	font-size:24px;
	align-text: center;
}

#review-block {
	margin-top: 25px;
	margin-bottom: 25px;
}
b{
	font-size:22px;
}

p {
	font-size: 20px;
}

h5 {
	font-size:22px;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	width: 15%;
	text-align: center;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

h5:hover {
	background-color: teal;
}

a {
	color:teal;
	text-decoration: none;
}

a:hover {
	color: white;
}



