#link {
	list-style: none;
}
#stars {
	width:10%;
	height:auto;
}
#homePageHeader {
	font-weight: bold;
	font-size: 150%;
}
#submitPageHeader {
	font-weight: bold;
	font-size: 150%;
}
#title {
	font-size: 125%;
	font-style: italic;
}

#forDummies {
	width: 13%;
	height: auto;
}

body {
	background-image: linear-gradient(#EEEEEE, #C0C0C0);
}

#submit:hover {
	background-color: blue;
}