/* RECIPE CSS */

body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

 img {
	width: 70%;
} 
#mainDiv {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

 #tileDiv {
	width: 30%;
	margin: 0px;
	background-color: #cfdfc4;
	margin: 10px;
} 


#tilePhoto {
	width: 100%;
}

#tileStar {
	width: 100px;
}

h4 {
	text-align: center;
}

p {
	font-size: 12px;
}


tr:nth-child(even) {background-color: #f2f2f2;}

#detail {
	padding: 10px;
}

.overview {
	text-align:left;
	margin-left: 10px;
	float: right;
	width: 50%;
}

#detail-name p {
	display: flex;
	font-size: 12px;
	text-align: left;
	flex-wrap: nowrap;
	margin: 0px;
}

#desc-image {
	float: left;
	width: 40%;
	margin-right: 0px;
	flex-wrap: nowrap;
}

#detail-ingredients {
	align-content: left;
	clear: left;
}

h2 {
	text-align: left;
}

#detail-ing-list ul, #detail-ing-list li  {
    margin: 0; padding: 0;
    text-align: left;
}

#detail-prep ul, #detail-prep  li {
	margin: 0; padding: 0;
    text-align: left;
}