/.metadata/
../_book
../.Bookmarks.SQLToolsStorage.json
../.CFUserTextEncoding
../.DS_Store
../.IdentityService/
../.ServiceHub/
../.Trash/
../.Xauthority
../.android/
../.atom/
../.bash_history
../.bash_profile
../.bash_sessions/
../.cache/
../.config/
../.cups/
../.dbvis/
../.dia-etc/
../.eclipse/
../.gitconfig
../.local/
../.m2/
../.mono/
../.nchsoftware/
../.oracle_jre_usage/
../.p2/
../.pgadmin/
../.psql_history
../.rnd
../.sqltools-lasrun
../.sqltools-setup
../.ssh/
../.templateengine/
../.tizen/
../.tooling/
../.vscode/
../Applications/
.DS_Store
../Creative Cloud Files/
../Desktop/
../Documents/
../Downloads/
../GearWatchDesigner/
../Library/
../Movies/
../Music/
../Pictures/
../Projects/
../Public/
../dev-tools/
../eclipse-workspace/
../eclipse/
../repos/.DS_Store
/.recommenders/
