* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #2b9494;
}

header {
	background-color: #2b9494;
}

.header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.pageHeading {
	padding: 20px;
}

.headerHomeLink {
	grid-row: 1;
}

.headerImage {
	width: 90%;
}

.buttons {
	grid-row: 1;
	grid-column: 4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.headerLink {
	padding-top: 15px;
	grid-row: 1;
	align-self: right;
	display: inherit;
	padding-right: 15px;
}

.headerButton {
	display: inline;
	height: 32px;
	border-radius: 6px;
}

button:hover {
	color: blue;
}

a {
	text-decoration: none;
}

/* unvisited link */
a:link {
	color: unset;
}

/* visited link */
a:visited {
	color: unset;
}

/* mouse over link */
a:hover {
	color: #00009a;
}

/* selected link */
a:active {
	color: blue;
}

.getDeckByKeyword {
	grid-column: 4;
}

.searchForKeyword {
	margin-bottom: 20px;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.keywords {
	grid-row: 4;
}

.formTitle {
	display: block;
}

.keywordDropDown {
	grid-row: 1;
}

.searchButton {
	grid-row: 3;
	grid-column: 1/2;
}

.currentUser {
	font-size: 150%;
	text-align: right;
	padding-right: 10px;
}

.deckHeaderGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.deckHeader {
	grid-column: 1/3;
	font-size: 3vw;
	font-weight: bolder;
	padding-bottom: 10px;
}

.deckGrid {
	margin: 20px;
	border-radius: 10px;
	height: 300px;
	font-size: 1vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow-y: scroll;
	background-color: #455ea6;
}

.deckGridForGuest {
	margin: 20px;
	border-radius: 10px;
	height: auto;
	font-size: 1vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #455ea6;
}

.deckInfo {
	margin: 20px;
	border: solid;
	border-radius: 10px;
	box-shadow: 5px 5px;
	height: 175px;
	background-color: #e88f47;
}

.deckInfoKeyword {
	margin: 20px;
	border: solid;
	border-radius: 10px;
	box-shadow: 5px 5px;
	height: 175px;
	width: 500px;
	background-color: #e88f47;
}

.deckPageInfoGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.deckPageInfo {
	grid-column: 1; margin : 20px;
	border-radius: 10px;
	font-size: 1vw;
	width: 500px;
	background-color: #455ea6;
	margin: 20px;
}

.deckName {
	font-size: 1.75vw;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
}

.deckDescription {
	font-size: 1vw;
	font-style: italic;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.createNewDeckHeader {
	font-size: 2.5vw;
	padding-top: 30px;
	padding-bottom: 10px;
}

.createNewDeck {
	padding-top: 10px;
	padding-bottom: 10px;
}

.modifyDeckButton {
	padding-top: 15px;
}

.sessionOptions {
	grid-column: 2;
}

.sessionOptionGrid {
	margin-left: 20px; display : grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	display: grid;
}

.sessionOrderOption {
	grid-row: 1;
	grid-column: 1;
}

.sessionCountOption {
	grid-row: 2;
	grid-column: 1;
}

.sessionKeywordOption {
	grid-row: 3;
	grid-column: 1;
}

.selectionLabel {
	padding-top: 1px;
	padding-right: 1px;
}

.sessionStartButton {
	grid-row: 1/4;
	grid-column: 2;
	border-radius: 10px;
	align-self: center;
	height: 40px;
	width: 150px;
	font-size: 1vw;
}

.deckPageDeckGrid {
	border-radius: 10px;
	height: 300px;
	font-size: 5vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	grid-auto-rows: 175px;
	overflow-y: scroll;
}

.deckPageDescription {
	font-size: 5vw;
	font-style: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: center;
}

.cardGrid {
	border-radius: 10px;
	height: 300px;
	font-size: 1vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	grid-auto-rows: 175px;
	overflow-y: scroll;
}

.cardInfo {
	margin: 10px;
	border: solid;
	border-radius: 10px;
	box-shadow: 5px 5px;
	height: 175px;
	background-color: palegreen;
	text-align: center;
}

.deleteCardButton {
	padding: 10px;
}

.cardFront {
	font-size: 1vw;
	font-style: bold;
}

.btn-default {
	margin-left: 20px;
}

.frontLabel {
	display: inline-block;
	width: 30%;
	margin-left: 12%;
	margin-right: 12%;
	text-align: center;
}

.backLabel {
	display: inline-block;
	width: 30%;
	text-align: center;
	margin-left: 20px;
}

.frontText {
	display: inline-block;
	width: 30%;
	text-align: center;
	margin-left: 12%;
	margin-right: 12%;
	border: solid;
	border-radius: 10px;
	box-shadow: 5px 5px;
	height: auto;
	background-color: #97a8d8;
}

.cardText {
	background-color: #a0b5fb;
	margin: 15px;
	text-align: center;
}

.backText {
	display: inline-block;
	width: 30%;
	text-align: center;
	margin: 10px;
	border: solid;
	border-radius: 10px;
	box-shadow: 5px 5px;
	height: auto;
	background-color: #97a8d8;
}

.sideLabel {
	display: inline-block;
}

.keywordSection {
	padding: 20px;
	text-align: center;
}

.cardInfoDeckPage {
	margin: 10px;
	border: solid;
	border-radius: 10px;
	box-shadow: 5px 5px;
	height: 175px;
	background-color: palegreen;
	text-align: center;
	overflow: auto;
}

.cardFrontDeckPage {
	margin: 10px;
	font-weight: bolder;
	font-size: 1.75vw;
}

.cardBackDeckPage {
	margin: 5px;
}

.createCardButton {
	display: flex;
	justify-content: center;
}

.finishButton {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.submitButton {
	display: flex;
	justify-content: center;
	padding: 20px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	grid-column: 1;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	/*width: 320px;*/
	height: 175px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.front, .cardinfo {
	overflow: auto;
}

.back, .cardinfo {
	overflow: auto;
	background-color: gold;
}

#sessionGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 300px;
}

#sessionContent {
	text-align: left;
	margin: 20px;
	font-size: 2vw;
}

#answerGrid {
	margin: 10px;
	grid-column: 2;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.sessionButton {
	padding: 5px;
	font-size: 1.75vw;
	height: 55px;
	width: 200px;
	border-radius: 5px;
}

.correctButton a:hover {
	background-color: green;
}

#finishButton {
	grid-row: 2;
	justify-self: center;
}

.resultsInfo {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.resultsButton{
	justify-self: center;
}

.info {
	margin-left: 10px;
}

.invisibleText{
	color: #2b9494;
}

.reStudyButton{
	margin: 10px;
    height: auto;
    font-size: 2vw;
    width: 200px;
    border-radius: 10px;
}