body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

#heading {
	font-size: 50px;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	padding: 15px;
}

section a {
	text-decoration: none;
	color: #000;
}

.toy-info li:nth-child(2) {
	font-weight: 100;
}

.grey {
	background-color: #f2f2f2;
	}

.rating {
	width: 45%;
}

.topSeller {
	font-size: 20px;
	color: red;
}



/************* Tile ***********************/

.toy-tile .toy-image {
	height: 33%;
}

.toy-tile .toy-info li {
	list-style: none;
	text-align: center;
	margin: 8px auto;
	font-size: 20px
}

.toy-tile {
    flex-grow: 1;
 	width: 33%;
	align-content: center;
}

/************* Table ***********************/

.table-rating {
	width: 80%;
}

#product-table caption {
	font-size: 25px;
	margin-bottom: 30px;
}

#product-table th {
	margin-right: 10px;
}

#product-table {
	max-width: 100%;
	height: 300px;
}


.table-photo {
	width: 100%;
}

/************* List ***********************/

#toy-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	min-height: 300px;
	
}

.toy-list.name, .toy-list.price, .toy-list.weight {
	font-size: 23px !important;
}

.toy-list .toy-image {
	height: 200px;
}

.toy-list .toy-info li {
	list-style: none;
	text-align: left;
	margin: 8px auto;
	font-size: 20px
}

.toy-list {
	display: flex;
	justify-content: start;
	height: 300px;
	border-bottom: 2px solid grey;
	align-content: center;
	margin: 40px;
}


.toy-list .toy-info {
	width: 300px;
	margin-top: 25px;
}

.detail-div {
	border-bottom: none !important;
}
