:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    background:rgba(192,192,192,0.1);
    display:grid;
    margin: 0% 8% 0% 8%;
    grid-template-columns:1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
    margin:0px;
    padding:0px;
}
header>img{
    height:30px;
}
main{
    grid-area: main;
    margin:0px;
    padding:0px;
}

footer{
    grid-area: footer;
}
#student-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
    grid-column-gap:50px;
    grid-row-gap:20px;
}
.headline{
    font-size:72px;
    margin:0px;
    padding:0px;
}
#student-quote{
    grid-area: quote;
    align-self:center;
    font-size:24px;
}
#student-picture{
    grid-area: picture;
    text-align:center;
}
#student-picture > img{
    border-radius:50%;
    height:350px;
    width:350px;
}
#student-profile{
    grid-area: profile;

}
#student-contact{
    grid-area: contact;
    text-align: center;
}
#experience{
    grid-area:experience;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
#experience > div{
    width:30%;
    margin: 0% 1.5% 0% 1.5%;
}
h3{
    color:#00ADEE;
}