h3 { 
    font-size: 130%;
    font-style: italic;         
}
div.note {
    border-radius: 5px;
    width: 70%;
    margin-left: 2%;
    margin-top: 15px;
    padding: 5px;    
}

div.definition { 
    background-color: #e6ffe6;        
}

div.analogy {
    background-color: #cce6ff;
}

div.caution {
    background-color: lightgoldenrodyellow; 
}

div.java {
    background-color: ghostwhite;
}

div.csharp {
    background-color: mintcream;
}

div.note span {
    font-weight: bold;
}
div.purpose {
    color: blue;
    font-style: italic;
    font-size: 80%;
    font-weight: bold;
    display: block;
}

div.noteHilite{
    background-color: honeydew
}

div.discussion {
    background-color: honeydew;
}

div.topicNote {
    font-size: 65%;
}

div.topicNote span{
    color:blue;
}

div.exampleProblem {
    background-color: lavender;
}

div.instructorDirective {
    background-color: lavender ;
}
div.questionAboutContent {
    background-color: pink;
}