@charset "UTF-8";

body{
	font-family: 'Thasadith', sans-serif;	 
	background: linear-gradient(white, #dae8fe);
	font-weight: bold;
}

#header{
	text-align: center;
	background: #dae8fe;
	border-bottom-style: solid;
	border-bottom-color: #3997d9;
	border-bottom-width: 3px;
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	width: 100vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

nav a{
	color:#5e3b0d;
	font-size: 22px;
	text-decoration: none;
	padding-right: 50px;
}


nav a:hover{
	color: #69ca16;
	
}

#home_button {
	background-color: #3997d9;
	color: white;
	width: 20%;
	text-align:center;
	padding: 10px;
	border-radius: 15px;
	text-decoration: none;
}

#home_button a {
	text-decoration: none;
	color: white;
	
}

#home_button a:hover {
	color: #dae8fe;
}

hr{ 
  height: 2px;
  color: #3997d9;
  background-color: #3997d9;
  border: none;
}

#home_sections {
 	display: flex;
 	padding: 25px;
}


#home_park_img {
	margin-right: 25px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}


#home_park_info {
	display: inline;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: -20px;
	
}

#home_park_info h2{
	color: #181818;
	font-size: 25px;
	text-shadow: 3px 3px #f4f4f4;
}

#home_park_info p{
	line-height: 1.8em;
	font-size: 16px;
}

/* Park Detail Image Page */

#park_detail {
	background-color: white;
}
#park_detail_img {
	margin-right: 25px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#detail_top_section {
 	display: flex;
 	padding: 25px;
}

table {
	padding: 25px;
}

th {
	text-align: center;
	color:#5e3b0d;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #ffffff;}



#weather {
	display: flex;
	text-align: center;
	width: auto;
	border: black 1px solid;
	background-color: white;
	align-content: center;
	border-radius: 2px;
	padding: 10px;
	margin-right: 50px;
	margin-left: 50px;
	
	
}
 
 #parkDetail input{
 font-size: 200%;
 width:200px;
 height:20px;
 margin: 5px;
 font-weight: bold;
 }
 
  #parkDetail form{
  display: flex;
  justify-content: center;
 }
 

#forecast-tiles{
	width: 20%;
	border-right: 1px solid;
	border-right-color: #dae8fe;
}

#forecast-tiles:last-child {border-right: none}
 
#weather img {
	width: 50%;
	border-radius: auto;
	padding: 20px;
}

p {
	font-size: 18px;
	line-height: 1.8em;
}

#header img{
	width: 40%;
	height: auto;
}

nav{
	display: flex;
	justify-content: flex-start;
}


#state {
	color: #616d86;
	font-size: 22px;
	font-style:italic;
	
}



/* Survey and Results Page */
#vote{
	font-size: 150%;
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-bottom-width: 1px;
}


#vote div{
	padding: 20px;
}

#vote div h5{
	margin-top: 0;
	margin-bottom: 0;
}






#Survey{
	padding:20px;
	border-radius: 10px;
	background: #EEE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	
}



#survey{
	display: flex;
	justify-content: center;
	color: #181818;
	font-size: 25px;
	text-shadow: 3px 3px #f4f4f4;
	font-size: 150%;
	padding: 20px;
	
	
}


#survey label{
	margin-top: 30px;
	margin-bottom: 30px;
	
}

#survey select{
	margin-top: 30px;
	margin-bottom: 30px;
}

#survey input{
	width: 250px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#surveyButton{
	text-align: center;
}

#surveyButton input[type=submit]{
	font-size: 200%;;
	font-weight: bold;
}

.error{
	color:red;
	padding-left:10px;
}

