
img#logo {
    display: block;
    width: 40%;
}
.park-grid{
	display:flex;
}
div {
	display: inline-block;
}
a {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    justify-content: right;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: beige;
}
a{
	color:(--text-color);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
} 

.detailList {
    flex-basis: 20%;
    grid-template-columns: auto auto;
    padding: inherit;
    padding: 20 px;
    padding: 20px;
    background: lightgrey;
}
.detailList li {
	list-style: none;
}
.parkContainer {
	display:flex;
	padding: 15px;
	justify-content: space-around;
	background: lightgrey;	
}

.details{
	display:inline-block;
}
.infoBox {
	flex-basis: 20%;
}