body{
    font-family: 'Helvetica';
    text-align: center;
  }

  #headFlex{
    display: flex;
    justify-content: center;
  }
  
  #header{
    
    background: red;
    position: center;
    width: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #333;
  }

  .green{
    background: green;
    text-align: center;
   
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #333;
  }
  #but{
  
    justify-content: center;
     border-radius: 5px;
     padding: 30px;
     box-shadow: 0px 0px 8px #333;
  }