body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	
}

#recipes {
	display: flex;
	height: 400px;
	justify-content: space-around;
	align-items: center;
}

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "photo photo photo"
						 "name name name"
						 "stars . ing";
	width: 30%;
	justify-items: center;
	align-items: center;
	background-color: tan;
	height: 400px;
}

.list h4 {
	grid-area: name;
}

.photo {
	width: 90%;
}

.star {
	width: 100%;
	grid-area: stars;
}

.list p {
	grid-area: ing;
}

#recipe-table {
	max-width: 100%;
	height: 300px;
	margin: auto 15px;
}

.table-photo {
	width: 100%;
}

.table-rating {
	width: 30%;
}

#recipe-table caption {
	font-size: 25px;
	margin-bottom: 30px;
}

.grey {
	background-color: #f2f2f2;
	}
	
.detail-photo {
	width: 30%;
	height: 100%;
	margin-right: 20px;
}

.detail-upper {
	display: flex;
	margin: 20px;
	padding-top: 10px;
	padding-left: 10px;
	min-height: 200px;
}

.detail-middle {
	display: block;
	text-align: left;
	border-bottom: .5px solid black;
	margin: 20px;
	min-height: 200px;
}

.detail-lower {
	text-align: left;
	margin: 20px;
	min-height: 200px;
}

.ing-list{
	heigh: 300px;
	display: block;
}

.detail-upper h3 {
	display: block;
	font-size: 16px;

}

.upper-text {
	text-align: left;
	white-space: nowrap;
	
}

#detail-description{
	white-space: normal;
	font-size: 12px;
}
	
	
.detail-link {
	text-decoration: none;
	color: black;
}

.detail-img-link {
	width: 100%;
	grid-area: photo;
}






