:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  body{
    display: grid; 
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: 150px auto auto auto;
    background-color: #f8f8f8;
    /* grid-gap: 10px; */
  }

  /*Sidebar*/
aside {
  display: inline-block;
    /* width: 200px; */
  background-color: #f8f8f8;
  grid-column-start: 1;
  grid-column-end: 2;
}

aside img {
  width: 100%;
}
/*Navigation Links*/
nav a {
  color: #00adee;
}

nav ul{
  list-style: none;
  width: 100%;
  background-color: #f8f8f8;
  } 

  aside li {
    padding: 15px;
    border-style: solid;
    border-bottom: #00adee;
  }
  
  main{
    display: inline-block;
    background-color: #f8f8f8;
    grid-column-start: 2;
  }
  header{
  height: 100%;
  grid-row-start: 1;
  grid-row-end: auto;
}

header img {
  height:100%;
  grid-row-start: 1;
  grid-row-end: auto;
}

p.subheading {
  font-size: medium;
}

main img img {
  /* width: 300px;
  height: 100px; */
  grid-row-start: 2;
}
section div {
  width: 293px;
  display: inline-block;
  padding: 10px;
}

h2 {
  color: #8cc36f;
}

footer img{
  width: 25px;
  height: 25px;
}
ul {
  color: rgba(0, 173, 238, 0.4);
}