body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#logo {
	height: 200px;
	width: 100%;

}

#logoImage {
	width: 40%;
	height: 90%;
	
}

#container {
	min-height: 90vh;
	width: 100%;
}


#nav {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	height: 35px;
	margin: auto;
	padding-left: 20px;
	background-color: rgba(55, 140, 44, .5);
}

#nav a {
	margin: auto 25px;
	text-decoration: none;
	color: white;
	font-weight: 800;
	font-size: 20px;
}

#nav a:hover {
	text-decoration: underline;
}

/************* HOME PAGE ****************************/

.park {
	display:flex;
	justify-content: space-between;
	margin: 50px auto;
	width: 90%;
	padding: 40px;	
	background-color: rgba(194, 198, 192, .5);
	border-radius: 15px;
	box-shadow: 10px 10px 34px 3px rgba(0,0,0,0.75);
}

.park img {
	margin-right: 30px;
	border-radius: 6px;
}

.park a {
	text-decoration: none;
	color: black;
}

.park .nameAnchor{
	font-size: 35px;
}

.parkInfo * {
	margin-bottom: 15px;
}

.park .state {
	font-size: 18px;
}

.park .description {
	line-height: 1.6;
}

/************* PARK INFO (DETAILS PAGE) ****************************/

.parkDetails {
	width: 90%;
	padding: 40px;	
	background-color: rgba(194, 198, 192, .8);
	border-radius: 15px;
	text-align: center;
	box-shadow: 10px 10px 34px 3px rgba(0,0,0,0.75);
	margin: auto;
	margin-top: 40px;
}

.parkDetails img {
	width: 70%;
	margin: 20px auto;
	border-radius: 6px;
}

#parkHeading h4 {
	font-size: 30px;
	margin-bottom: 10px;
}

#parkHeading h6 {
	font-size: 16px;
}

#parkPhoto {
	font-size: 20px;
	font-family: 'Acme', sans-serif;
	margin-bottom: 10px;
}

#parkInfo {
	display: flex;
	justify-content: space-around;
}

#parkInfo p {
	width: 50%;
	line-height: 1.6;
	margin: auto;
	padding: 30px;
	text-align: left;
	font-size: 20px;
	background-color: #f2f2f2;
	border-radius: 8px;
}

#infoTable {
	width: 350px;
	text-align: left;
	background-color: white;
}

#infoTable tr {
	height: 30px;
}

#infoTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

/************* PARK WEATHER (DETAILS PAGE) ****************************/

#fiveDayForecast {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 350px;
	width: 90%;
	margin: 45px auto;
	padding: 25px;	
	background-color: rgba(196, 218, 255, .8);
	border-radius: 15px;
	box-shadow: 10px 10px 34px 3px rgba(0,0,0,0.75);

}

#forecastContainer {
	display: flex;
	display: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
}

.forecast {
	flex-basis: 18%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 8px;
	min-height: 300px;
}

.forecast:first-child {
	margin-right: 10px;
	height: 100%;
	flex-basis: 22%;
}

#weatherTips {
	list-style-position: inside;
	width: 80%;
	border-top: 2px solid rgb(196, 218, 255);
	border-bottom: 2px solid rgb(196, 218, 255);
	border-radius: 5px;
	font-size: .8rem;
	margin-top: 5px;
	padding: 8px;
}

#weatherTips li:first-child {
	list-style: none;
}

.forecast h3 {
	text-align: center;
	font-size: 40px;
}

#tempForm {
	margin: 10px auto;
	justify-content: center;
}

.forecast img {
	width: 80%;
	height: auto;
}

#highLow {
	text-align: center;
	margin-bottom: 8px;
}

/************* SURVEY PAGE ****************************/

#surveyForm {
	width: 70%;
	height: 500px;
	margin: auto;
	text-align: left !important;
}

.form-group {
	margin-bottom: 2rem;
}

#formHeading {
	text-align: center;
	margin-bottom: 40px;
}

.error {
	color: red;
}

.radioButtons {
	display: flex;
	justify-content: left;
}

.radioButton {
	margin-right: 20px !important;
}

/************* FOOTER ****************************/

footer {
	width: 85%;
	margin: auto;
	min-height: 50px;
	text-align: center;
	padding-top: 15px;
	border-top: 2px solid rgba(55, 140, 44, .5);
}

/************* FAVORITE PARKS ****************************/

#favoriteParks {
	width: 80%;
	margin: 20px auto;
	
}

#favoriteParks h1 {
	text-align: center;
	margin: 40px auto;
}

#favoriteMessage {
	text-align: center;
	margin-top: 20px;
}

