html {
    height: 100%;
    /*Default font size to be 16px*/
    font-size: 16px;
}

* {
    /*The width of the box should include padding and a border*/
    box-sizing: border-box;
}

body {
    /*Change default page font*/
    font-family: 'Raleway', sans-serif;

    /*Set background image*/
    background-image: linear-gradient(to bottom, #858c90, #BBB);

    /*Do not repeat, and stretch across the screen*/
    background-repeat: no-repeat;

    /*Do not scroll the background with the page*/
    background-attachment: fixed;
}

div.trello-list {
    /*Create a multi-column layout*/
    display: inline-block;

    /*Fixed width column*/
    width: 300px;

    /*background color*/
    background-color: #DDD;

    /*round corners*/
    border-radius: 2px 3px;

}

div.trello-list h2 {

    /*move it from the edge*/
    margin: 8px;

    /*keep the font consistent with the root document size*/
    font-size: 1.0rem;
    font-weight: bold;
}

div.trello-list ol {
    /*get rid of padding and margin*/
    margin: 0px;
    padding: 0px;
}

div.trello-list li {
    /*remove numbering of items in list*/
    list-style: none;

    /*background color*/
    background-color: rgb(255, 255, 255);

    /*adjust the font to be a little smaller*/
    font-size: .9rem;

    /*round card edge*/
    border-radius: 1px;

    /*spaceing between each item*/

    padding: 8px;
    margin-bottom: 10px;

}

div.trello-list li:hover {
    /*make item darker on hover*/
    background-color: #f5f6f7;
    color: #092d42;
}

div.trello-list li:last-child {
/*the last item needs to reset it's margin*/
margin-bottom: 0px;

}

div.trello-list a {
    /*block layout*/
    display: block;

    /*change the look*/
    text-decoration: none;

    /*spacing*/
    padding: 8px 0px 8px 5px;

    font-size: .85rem;
}

div.trello-list a:hover {
    background-color: rgba(9, 45, 66, .1);
}

div.trello-list {
    /*spacing to the right of card*/
    margin-right: 10px;
    /*align the top of each card*/
    vertical-align: top;
}

body {
    /*ensure the elements dont wrap and force horizontal scrolling*/
    white-space: nowrap;
}

div.trello-list li {
    /*ensure text in list items wrap*/
    white-space: normal;
}

/*apply some styling to the header and it's descendants*/
header > h1, header > p {
    /*render next to eachother*/
    display: inline-block;
}

header > h1 {
    /*convert to uppercase*/
    text-transform: uppercase;

    /*make it a little bigger*/
    font-size: 1.1rem;
}

header > p {
    /* make it a little smaller*/
    font-size: .9rem;

    /*move to left a little*/
    padding-left: 5px;
}

.labels span {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 9px;
    border-radius: 3px;
}

.label.pathway {
    background-color: red;
}

.label.individual {
    background-color: green;
}

.label.pair {
    background-color: teal;
}

.label.general {
    background-color: orange;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #BBB;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
    background: #888;
}