body {
	width: auto;
	margin: 20px;
}
#title-img{
	width: 30%;
	height: auto;
	object-fit: contain;
}

nav ul {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
nav ul li {
  
   width: calc(100% / 3);
   text-align: center;
   line-height: 50px;
   border-radius: 5px;
   
}
nav {
	display: flex;
	background-color: black;
	margin-bottom: 0px;
	padding: 5px;
	width: 100%;
	height: 100px;
	align-self: end;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
	
}

.header ul {
	float: left;
	margin: 0px;
}

.header {
	background-image: linear-gradient(90deg, #555466 40%, #6b518f 40%, #6b518f 50%, #555466 50%, #555466 90%, #6b518f 90%, #6b518f 100%);
background-size: 50.00px 50.00px;
}



.header li {
	list-style-type: none;
	margin-left: 25px;
	margin-bottom: 0px;
	font-size: 2em;
	float: left;
	font-family: arial;
	
}

.list-header {
	padding-top: 30px;
	padding-bottom: auto;
	
}
.header li a {
	text-decoration: none;
	color: #00ceec;
	text-shadow: 2px -1px #000bec;
}

.header li a:hover {
	background-Color: orange;
	text-decoration: none;
	color: Green;
	border-radius: 5px;
	
}


body {
	list-style: none;
	background-image: linear-gradient(0deg, #cccccc 25%, #d1d1d1 25%, #d1d1d1 50%, #cccccc 50%, #cccccc 75%, #d1d1d1 75%, #d1d1d1 100%);
background-size: 400.00px 400.00px;
	
}

.home-text {
	text-decoration: none;
}

#home-name {
	text-transform: uppercase;
	font-size: 22px;
  	margin-top: 15px;
}

div.home-text a{
	color: #252525;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
 	text-align: left;
 	text-decoration: none;
 	text-shadow: 2px 2px #ebece6;
}

.park-img {
	object-fit: cover;
	border-radius: 10px;
	border: 5pt solid #ffe6ea;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.detail-title:hover{
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #f5d6c6;
  }
}

.detail-img {
	object-fit: contain;
	width: 100%;
	border-radius: 10px;
	border: 5pt solid #ffe6ea;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#detail-table {
	margin-left: 100px;
	margin-top: 25px;
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	width: 25%;
	padding: 10px;
}


#detail-table:hover{
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #f5d6c6;
  }
}

.pic-table {
	display: flex;
}

.detail-list {
	
}

.main {
	text-align: left;
}

.detail-title{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	width: 60%;
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
}

#park-name {
	text-transform: uppercase;
	font-size: 30px;
  	margin-top: 15px;
  	color: #252525;
  	font-size: 30px;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
 	text-align: left;
 	text-shadow: 2px 2px white;
}

p#park-name {
	margin-bottom: 5px;
}

#state {
	text-transform: normal;
	font-size: 22px;
	position: relative;
  	margin: 0;
 	color: #464646;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
  	text-align: left;
}

#state-detail{
	font-family: Arial;
	font-style: italic;
	color: #464646;
}


#quote {
	font-style: italic;
	font-family: cursive, serif;
	color: black;
	font-size: 20px;
}

#quote-contain{
	position: relative;
  	width: 50%;
}

#quote-contain:hover .detail-img {
	opacity: .2;
}

#quote-contain:hover .quote-words {
	opacity: 1;
}

.quote-words {
	border: 1pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	background-color: #fcffed;
	padding: 10px;
	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
}


#detail-desc{
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	font-family: Arial;
	padding: 10px;
	word-spacing: 5px;
	color: #252525;
	width: 700px;
	line-height: 24px;
	font-style: italic;
	text-shadow: 1px 1px white;
}
#detail-desc:hover{
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #f5d6c6;
  }
}

#weather-heading {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-style: italic;
	font-family: Arial;
	color: #1c41b0;
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
  	font-size: 60px;
  	letter-spacing: -1px;
  	word-spacing: 10px;
  	text-shadow: 2px 1px #ffe6ea;
 	text-decoration-line: underline overline;
 	text-decoration-style:solid;
	font-variant: normal;
	animation-name: rainbow;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  }
  @keyframes rainbow {
    0% {
      background-color: #9db6e3;
    }
    50% {
      background-color: pink;
    }
    100%{
      background-color: #9db6e3;
    }
}


div.main-weather {
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	font-family: arial;
	font-size: 15px;
	padding: 5px;
	width: 25%;
}

.message {
	padding: 5px;
}
div.main-weather:hover{
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #f5d6c6;
  }
}

ul.weather-list {
	width: 1000px;
}

.weather-list {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style: none;
	text-align: center;
}

#today-weather {
	border-radius: 50%;
}

#four-img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.four-div {
	width: 10%;
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	height: 160px;	
	padding: 5px;
}
.four-div:hover{
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #f5d6c6;
  }
}

#today {
	font-size: 25px;
	text-shadow: 2px 2px white;
	font-family: arial;
}

.detail-info {
	display: flex;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 5px dashed #464646;
	min-height: 200px;
	width: 100%;
	text-align: left;
	white-space: wrap;
}

.weather-list li {
	font-family: Arial;
	font-size: 20px;
	text-shadow: 2px 0px white;
}

div span {
	display: block;
	text-decoration: none;
	margin-left: 5%;
}



.quote-text {
	display: block;
	width: 50%;
}

#description {
	margin-top: 15px;
	font-family: "arial";
	width: 85%;
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	padding: 10px;
	word-spacing: 5px;
	color: #252525;
	line-height: 20px;
	font-style: italic;
	text-shadow: 1px 1px white;
}
.choice {
	text-align: center;
}

.choice input {
	 display: inline-block;
  border-radius: 4px;
  background-color: springgreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: 1px solid yellow;
}

.choice input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#main-content {
	padding-left: 20px;
}

.survey{
	margin-top: 20px;
	padding: 10px;
	border: 5pt solid #ffe6ea;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.4), 0 6px 6px rgba(0,0,0,0.1);
	width: 30%;
	font-family: arial;

}

.form-control {
	margin-top: 0;
	display: block;
	justify-content: left;
}

#rank {
	color: black;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
 	text-align: left;
 	text-decoration: none;
 	text-shadow: 2px 2px white;
}

.rank-text {
	font-family: arial;
}

#rank-name:hover {
	color: #3793ec;
	text-shadow: 2px 2px white;
}

footer {
    width: 100%;
    height: 10%;
   text-align: center;
   font-size: 15px;
}