:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}
body {
    margin-left: 8%;
    margin-right: 8%;
}

html {
    font-size: 16px;
}
#student-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}
header img {
    /* grid-area: header; */
    height: 35px;
    width: 30%; 
    margin-bottom: 0;
    padding: 0;
}
/* #headline {
    grid-area: h1;
} */ 
#student-quote {
    grid-area: quote;
}
#student-picture {
    grid-area: picture;
    text-align: center;
    /* border-radius: 360px;
    height: 350px;
    width: 350px; */
}
#student-picture img {
    border-radius: 50%;
}
footer {
    grid-area: footer;
}
#experience {
    grid-area: experience;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#experience div {
    width: 33%;
    padding: 0 1em;
}
#experience h3 {
    color: var(--blue);
}
#student-profile {
    grid-area: profile;
}
#student-contact {
    grid-area: contact;
    text-align: center;
}