h3 { 
    font-size: 130%;
    font-style: italic;         
}

div.note {
    border-radius: 5px;
    width: 70%;
    margin-left: 2%;
    margin-top: 15px;
    padding: 5px;    
}

div.definition { 
    background-color: #e6ffe6;        
}

div.analogy {
    background-color: #cce6ff;
}

div.caution {
    background-color: lightgoldenrodyellow;
}

div.java {
    background-color: ghostwhite;
}

div.csharp {
    background-color: mintcream;
}

div.note span {
    font-weight: bold;
}