:root {
    --blue: #00adee;
    --grey: #505355;
}


#student-grid {
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "quote      quote        pic"
    "profile    profile      contact"
    "exp        exp          exp";
    grid-row-gap: 50px; 
    grid-column-gap: 20px;
    margin-right: 8%;
    margin-left: 8%;
  } 

* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
header {
    width: 33%;
    margin-left: 8%;
    margin-right: 8%;
}
#student-picture {
    grid-area: pic;   
}
#student-picture img {
    border-radius: 50%;
}
#student-profile {
    grid-area: profile;
}
#student-quote {
    grid-area: quote;
    display: flex;
}
#student-contact {
    grid-area: contact;
    text-align: center;
}
#experience {
    grid-area: exp;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#experience div {
    width: 33%;
    padding: 0 1em;
}
h1 {
    margin-left: 8%;
    margin-right: 8%;
}

#te-logo {
    width: 100%;
}
